{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Exchange</title>
    <link rel="stylesheet" href="{% static "css/main.css" %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <script src="{% static "js/jquery-3.1.0.min.js" %}"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script src="{% static "js/index.js" %}"></script>
</head>
<body>
    <br><br>

    <div class="container">
        <div class="row">
            <div class="col">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="currencyFrom">From</label>
                    </div>
                    <select class="custom-select" id="currencyFrom">
                        <option value="USD">USD</option>
                        <option value="EUR">EUR</option>
                        <option value="CZK">CZK</option>
                        <option value="PLN">PLN</option>
                    </select>
                </div>
            </div>
            <div class="col">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"></span>
                    </div>
                    <input type="text" class="form-control from_amount" aria-label="Amount" placeholder="Amount">
                </div>
            </div>
            <div class="col">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text" for="currencyTo">To</label>
                    </div>
                    <select class="custom-select" id="currencyTo">
                        <option value="USD">USD</option>
                        <option value="EUR">EUR</option>
                        <option value="CZK">CZK</option>
                        <option value="PLN">PLN</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <button type="button" class="btn btn-success">Convert</button>
            </div>
        </div>
        <div class="row"></div>
        <div class="row">
            <div class="col">
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text"></span>
                    </div>
                    <input type="text" class="form-control to_amount" aria-label="Result" placeholder="Result" readonly>
                </div>
            </div>
            <div class="col"></div>
            <div class="col"></div>
        </div>
    </div>
</body>
</html>